In [1]:
from sklearn.decomposition import NMF

In [2]:
import pandas as pd
import glob, os
#from dataprep.eda import plot_correlation
#from dataprep.eda import plot
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import numpy as np
import datetime
import matplotlib.pyplot as plt
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import plotly.express as px
import seaborn as sns
from scipy import stats
from sklearn.linear_model import LinearRegression
import pandas as pd
#import datacleaner
import numpy as np
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')


import random
from matplotlib import pyplot as plt
from matplotlib import colors as mpc
plt.rcParams["font.family"] = "Poppins"
from sklearn.mixture import GaussianMixture

import seaborn as sns; sns.set()
from sklearn.metrics import r2_score 
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
#from gmr.utils import check_random_state
#from gmr import MVN, GMM, plot_error_ellipses
#random_state = check_random_state(0)

from IPython.display import clear_output

%load_ext autoreload
%autoreload 
%matplotlib inline


import plotly.express as px

import statsmodels.api as sm
from statsmodels.tools.eval_measures import rmse
#from bioinfokit.analys import get_data, stat
from statsmodels.stats.outliers_influence import variance_inflation_factor 
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [3]:
# concatenate raw data files downloaded from sensor
'''
alldata = pd.DataFrame(columns=['timestamp', 'id', 'timestamp_local', 'sn',
       'rh', 'temp',
       'bin0','bin1','bin2','bin3','bin4','bin5','bin6',
       'bin7','bin8','bin9','bin10','bin11','bin12',
        'bin13','bin14','bin15','bin16','bin17','opcn3_pm1',
       'opcn3_pm25', 'opcn3_pm10',
       'pm1_env', 'pm25_env', 'pm10_env',
       'neph_bin0', 'wd', 'ws', 'co2_raw','co_we','co_ae','no_we','no_ae',
        'no2_we','no2_ae', 'o3_we','o3_ae','co_diff','no_diff','no2_diff','ox_diff',
        'flag','device_state','co2_model_id', 'no2','no','pm10_model_id',
        'co_model_id', 'pm1','co','pm10','no_model_id','pm25_model_id', 'pm1_model_id'
        'co2','pm25','no2_model_id','o3','o3_model_id'
      ])

total_len = 0
for file in glob.glob("MOD-00400-raw.csv"):
    this_data = pd.read_csv(file,header=0)
    total_len += len(this_data)
    print(total_len)
    alldata = alldata.append(this_data, ignore_index=True)
'''

'\nalldata = pd.DataFrame(columns=[\'timestamp\', \'id\', \'timestamp_local\', \'sn\',\n       \'rh\', \'temp\',\n       \'bin0\',\'bin1\',\'bin2\',\'bin3\',\'bin4\',\'bin5\',\'bin6\',\n       \'bin7\',\'bin8\',\'bin9\',\'bin10\',\'bin11\',\'bin12\',\n        \'bin13\',\'bin14\',\'bin15\',\'bin16\',\'bin17\',\'opcn3_pm1\',\n       \'opcn3_pm25\', \'opcn3_pm10\',\n       \'pm1_env\', \'pm25_env\', \'pm10_env\',\n       \'neph_bin0\', \'wd\', \'ws\', \'co2_raw\',\'co_we\',\'co_ae\',\'no_we\',\'no_ae\',\n        \'no2_we\',\'no2_ae\', \'o3_we\',\'o3_ae\',\'co_diff\',\'no_diff\',\'no2_diff\',\'ox_diff\',\n        \'flag\',\'device_state\',\'co2_model_id\', \'no2\',\'no\',\'pm10_model_id\',\n        \'co_model_id\', \'pm1\',\'co\',\'pm10\',\'no_model_id\',\'pm25_model_id\', \'pm1_model_id\'\n        \'co2\',\'pm25\',\'no2_model_id\',\'o3\',\'o3_model_id\'\n      ])\n\ntotal_len = 0\nfor file in glob.glob("MOD-00400-raw.csv"):\n    this_data = pd.read_csv(file,header=0)\n    total_len += len(this_data)\n    print(total_len)\n    alldata = alldata.append(this_data, ignore_index=True)\n'

In [4]:
#alldata.to_csv('3_factor_MOD-00400/all_combined.csv')

In [5]:
data=pd.read_csv('MOD-00397-raw.csv')
data

,timestamp,id,timestamp_local,sn,rh,temp,bin0,bin1,bin2,bin3,...,o3,co2,pm1_model_id,pm25_model_id,pm10_model_id,co_model_id,no_model_id,no2_model_id,o3_model_id,co2_model_id
0,2024-10-01T23:59:32Z,223454681,2024-10-01T23:59:32Z,MOD-00397,85.8,24.8,7.722,0.240,0.070,0.008,...,18.722,266.705,10800.0,10801.0,10802.0,10795.0,10790.0,10785.0,10780.0,10775.0
1,2024-10-01T23:58:32Z,223452687,2024-10-01T23:58:32Z,MOD-00397,85.8,24.8,6.953,0.220,0.049,0.007,...,19.080,266.825,10800.0,10801.0,10802.0,10795.0,10790.0,10785.0,10780.0,10775.0
2,2024-10-01T23:57:32Z,223452689,2024-10-01T23:57:32Z,MOD-00397,85.7,24.8,6.780,0.221,0.060,0.007,...,19.463,269.596,10800.0,10801.0,10802.0,10795.0,10790.0,10785.0,10780.0,10775.0
3,2024-10-01T23:56:32Z,223452686,2024-10-01T23:56:32Z,MOD-00397,85.7,24.8,9.128,0.298,0.063,0.021,...,18.391,266.946,10800.0,10801.0,10802.0,10795.0,10790.0,10785.0,10780.0,10775.0
4,2024-10-01T23:55:32Z,223452688,2024-10-01T23:55:32Z,MOD-00397,85.7,24.8,7.449,0.192,0.051,0.017,...,18.391,267.789,10800.0,10801.0,10802.0,10795.0,10790.0,10785.0,10780.0,10775.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494466,2023-08-16T14:21:28Z,56180276,2023-08-16T14:21:28Z,MOD-00397,65.7,29.5,53.501,2.819,0.649,0.132,...,NaN,489.047,10800.0,10801.0,10802.0,NaN,NaN,NaN,NaN,10775.0
494467,2023-08-16T14:20:28Z,56180277,2023-08-16T14:20:28Z,MOD-00397,66.8,29.2,53.851,2.632,0.633,0.128,...,NaN,494.347,10800.0,10801.0,10802.0,NaN,NaN,NaN,NaN,10775.0
494468,2023-08-16T14:19:28Z,56179579,2023-08-16T14:19:28Z,MOD-00397,68.7,28.9,43.958,2.188,0.488,0.101,...,NaN,497.719,10800.0,10801.0,10802.0,NaN,NaN,NaN,NaN,10775.0
494469,2023-08-16T14:18:28Z,56179578,2023-08-16T14:18:28Z,MOD-00397,69.6,28.6,45.198,2.333,0.445,0.146,...,NaN,501.092,10800.0,10801.0,10802.0,NaN,NaN,NaN,NaN,10775.0
494470,2023-08-16T14:17:28Z,56179577,2023-08-16T14:17:28Z,MOD-00397,71.0,28.3,53.744,2.600,0.586,0.120,...,NaN,500.008,10800.0,10801.0,10802.0,NaN,NaN,NaN,NaN,10775.0

In [6]:
data.info

<bound method DataFrame.info of                    timestamp         id       timestamp_local         sn  \
0       2024-10-01T23:59:32Z  223454681  2024-10-01T23:59:32Z  MOD-00397
1       2024-10-01T23:58:32Z  223452687  2024-10-01T23:58:32Z  MOD-00397
2       2024-10-01T23:57:32Z  223452689  2024-10-01T23:57:32Z  MOD-00397
3       2024-10-01T23:56:32Z  223452686  2024-10-01T23:56:32Z  MOD-00397
4       2024-10-01T23:55:32Z  223452688  2024-10-01T23:55:32Z  MOD-00397
...                      ...        ...                   ...        ...
494466  2023-08-16T14:21:28Z   56180276  2023-08-16T14:21:28Z  MOD-00397
494467  2023-08-16T14:20:28Z   56180277  2023-08-16T14:20:28Z  MOD-00397
494468  2023-08-16T14:19:28Z   56179579  2023-08-16T14:19:28Z  MOD-00397
494469  2023-08-16T14:18:28Z   56179578  2023-08-16T14:18:28Z  MOD-00397
494470  2023-08-16T14:17:28Z   56179577  2023-08-16T14:17:28Z  MOD-00397

          rh  temp    bin0   bin1   bin2   bin3  ...      o3      co2  \
0       85.8  24.8   7.722  0.240  0.070  0.008  ...  18.722  266.705
1       85.8  24.8   6.953  0.220  0.049  0.007  ...  19.080  266.825
2       85.7  24.8   6.780  0.221  0.060  0.007  ...  19.463  269.596
3       85.7  24.8   9.128  0.298  0.063  0.021  ...  18.391  266.946
4       85.7  24.8   7.449  0.192  0.051  0.017  ...  18.391  267.789
...      ...   ...     ...    ...    ...    ...  ...     ...      ...
494466  65.7  29.5  53.501  2.819  0.649  0.132  ...     NaN  489.047
494467  66.8  29.2  53.851  2.632  0.633  0.128  ...     NaN  494.347
494468  68.7  28.9  43.958  2.188  0.488  0.101  ...     NaN  497.719
494469  69.6  28.6  45.198  2.333  0.445  0.146  ...     NaN  501.092
494470  71.0  28.3  53.744  2.600  0.586  0.120  ...     NaN  500.008

        pm1_model_id  pm25_model_id  pm10_model_id  co_model_id  no_model_id  \
0            10800.0        10801.0        10802.0      10795.0      10790.0
1            10800.0        10801.0        10802.0      10795.0      10790.0
2            10800.0        10801.0        10802.0      10795.0      10790.0
3            10800.0        10801.0        10802.0      10795.0      10790.0
4            10800.0        10801.0        10802.0      10795.0      10790.0
...              ...            ...            ...          ...          ...
494466       10800.0        10801.0        10802.0          NaN          NaN
494467       10800.0        10801.0        10802.0          NaN          NaN
494468       10800.0        10801.0        10802.0          NaN          NaN
494469       10800.0        10801.0        10802.0          NaN          NaN
494470       10800.0        10801.0        10802.0          NaN          NaN

        no2_model_id  o3_model_id  co2_model_id
0            10785.0      10780.0       10775.0
1            10785.0      10780.0       10775.0
2            10785.0      10780.0       10775.0
3            10785.0      10780.0       10775.0
4            10785.0      10780.0       10775.0
...              ...          ...           ...
494466           NaN          NaN       10775.0
494467           NaN          NaN       10775.0
494468           NaN          NaN       10775.0
494469           NaN          NaN       10775.0
494470           NaN          NaN       10775.0

[494471 rows x 72 columns]>

In [7]:
#clean time
#data['cleanedtime'] = data['timestamp_local']
#data = data[data['UTCDateTime'].str.contains('\x1a') == False]
data['localtime'] = pd.to_datetime(data['timestamp_local'],format="%Y-%m-%dT%H:%M:%SZ")

data_orig = data

#avg by day
data_avgd_day = data.groupby(data['localtime'].dt.date).mean(numeric_only=True)

#avg by hour
data_avgd_hour = data.resample('H', on='localtime').mean(numeric_only=True)

data_avgd_hour

,id,rh,temp,bin0,bin1,bin2,bin3,bin4,bin5,bin6,...,o3,co2,pm1_model_id,pm25_model_id,pm10_model_id,co_model_id,no_model_id,no2_model_id,o3_model_id,co2_model_id
localtime,,,,,,,,,,,,,,,,,,,,,
2023-08-16 14:00:00,5.618282e+07,54.990909,32.788636,46.725341,2.595477,0.624318,0.130977,0.130386,0.069977,0.033705,...,NaN,443.803523,10800.0,10801.0,10802.0,NaN,NaN,NaN,NaN,10775.0
2023-08-16 15:00:00,5.619125e+07,48.041667,35.046667,48.227967,3.103367,0.824533,0.181967,0.175100,0.082233,0.046600,...,10.922364,401.621883,10800.0,10801.0,10802.0,10795.0,10790.0,10785.0,10780.0,10775.0
2023-08-16 16:00:00,5.620097e+07,50.520000,34.171667,54.675983,4.518583,1.296817,0.282600,0.261717,0.110600,0.057083,...,18.505417,399.524117,10800.0,10801.0,10802.0,10795.0,10790.0,10785.0,10780.0,10775.0
2023-08-16 17:00:00,5.621065e+07,53.431667,33.356667,79.280800,7.987400,2.466800,0.584617,0.541500,0.214267,0.099883,...,23.178350,405.223167,10800.0,10801.0,10802.0,10795.0,10790.0,10785.0,10780.0,10775.0
2023-08-16 18:00:00,5.622030e+07,61.778333,30.908333,86.095333,5.990733,1.628500,0.386417,0.405883,0.212817,0.132100,...,23.913900,433.511833,10800.0,10801.0,10802.0,10795.0,10790.0,10785.0,10780.0,10775.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-10-01 19:00:00,2.233128e+08,80.586667,26.403333,29.915917,0.473417,0.111817,0.033000,0.052817,0.033867,0.015200,...,16.550283,251.789783,10800.0,10801.0,10802.0,10795.0,10790.0,10785.0,10780.0,10775.0
2024-10-01 20:00:00,2.233461e+08,82.626667,25.826667,35.148050,0.897567,0.238767,0.080150,0.117817,0.070300,0.027717,...,15.424600,264.486733,10800.0,10801.0,10802.0,10795.0,10790.0,10785.0,10780.0,10775.0
2024-10-01 21:00:00,2.233784e+08,83.395000,25.296667,9.472283,0.311533,0.071433,0.024433,0.034333,0.019917,0.009667,...,18.357083,266.118667,10800.0,10801.0,10802.0,10795.0,10790.0,10785.0,10780.0,10775.0
2024-10-01 22:00:00,2.234088e+08,83.881667,24.996667,6.508333,0.266050,0.061017,0.021083,0.028967,0.017367,0.007567,...,19.855300,266.050500,10800.0,10801.0,10802.0,10795.0,10790.0,10785.0,10780.0,10775.0
2024-10-01 23:00:00,2.234391e+08,85.128333,24.816667,7.186550,0.278233,0.073533,0.023933,0.032217,0.020617,0.009550,...,19.295117,266.058550,10800.0,10801.0,10802.0,10795.0,10790.0,10785.0,10780.0,10775.0

In [8]:
# load in kinshasa embassy data

#bam_2022 = pd.read_csv('Kinshasa_PM2.5_2022_YTD.csv')
#bam_oct2022 = pd.read_csv('Kinshasa_PM2.5_2022_10_MTD.csv')

#bam_2022['localtime'] = pd.to_datetime(bam_2022['Date (LT)'], utc=True)
#bam_oct2022['localtime'] = pd.to_datetime(bam_oct2022['Date (LT)'], utc=True)
#bam_all = bam_2022.append(bam_oct2022, ignore_index=True)

In [9]:
# merge dataframes for BAM and modpm
#merge_data = bam_all.merge(data_avgd_hour, left_on='localtime', right_on='localtime')

#some light cleaning
#merge_data_cleaned = merge_data[merge_data['NowCast Conc.'] > 0]
#merge_data_cleaned = merge_data_cleaned[merge_data_cleaned['pm25'].notna()]

##merge_data_cleaned
#plt.figure(figsize=(15,5))
#plt.plot(merge_data_cleaned['localtime'],merge_data_cleaned['NowCast Conc.'],'r-')
#plt.show()

In [10]:
#fig = px.scatter(merge_data_cleaned, x='NowCast Conc.', y='pm25',
         #     color='rh')
#fig.show()

In [11]:
### OK, something is clearly wrong with the Kinshasa BAM, so we move on to other analysis.... ###

In [12]:
data

,timestamp,id,timestamp_local,sn,rh,temp,bin0,bin1,bin2,bin3,...,co2,pm1_model_id,pm25_model_id,pm10_model_id,co_model_id,no_model_id,no2_model_id,o3_model_id,co2_model_id,localtime
0,2024-10-01T23:59:32Z,223454681,2024-10-01T23:59:32Z,MOD-00397,85.8,24.8,7.722,0.240,0.070,0.008,...,266.705,10800.0,10801.0,10802.0,10795.0,10790.0,10785.0,10780.0,10775.0,2024-10-01 23:59:32
1,2024-10-01T23:58:32Z,223452687,2024-10-01T23:58:32Z,MOD-00397,85.8,24.8,6.953,0.220,0.049,0.007,...,266.825,10800.0,10801.0,10802.0,10795.0,10790.0,10785.0,10780.0,10775.0,2024-10-01 23:58:32
2,2024-10-01T23:57:32Z,223452689,2024-10-01T23:57:32Z,MOD-00397,85.7,24.8,6.780,0.221,0.060,0.007,...,269.596,10800.0,10801.0,10802.0,10795.0,10790.0,10785.0,10780.0,10775.0,2024-10-01 23:57:32
3,2024-10-01T23:56:32Z,223452686,2024-10-01T23:56:32Z,MOD-00397,85.7,24.8,9.128,0.298,0.063,0.021,...,266.946,10800.0,10801.0,10802.0,10795.0,10790.0,10785.0,10780.0,10775.0,2024-10-01 23:56:32
4,2024-10-01T23:55:32Z,223452688,2024-10-01T23:55:32Z,MOD-00397,85.7,24.8,7.449,0.192,0.051,0.017,...,267.789,10800.0,10801.0,10802.0,10795.0,10790.0,10785.0,10780.0,10775.0,2024-10-01 23:55:32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494466,2023-08-16T14:21:28Z,56180276,2023-08-16T14:21:28Z,MOD-00397,65.7,29.5,53.501,2.819,0.649,0.132,...,489.047,10800.0,10801.0,10802.0,NaN,NaN,NaN,NaN,10775.0,2023-08-16 14:21:28
494467,2023-08-16T14:20:28Z,56180277,2023-08-16T14:20:28Z,MOD-00397,66.8,29.2,53.851,2.632,0.633,0.128,...,494.347,10800.0,10801.0,10802.0,NaN,NaN,NaN,NaN,10775.0,2023-08-16 14:20:28
494468,2023-08-16T14:19:28Z,56179579,2023-08-16T14:19:28Z,MOD-00397,68.7,28.9,43.958,2.188,0.488,0.101,...,497.719,10800.0,10801.0,10802.0,NaN,NaN,NaN,NaN,10775.0,2023-08-16 14:19:28
494469,2023-08-16T14:18:28Z,56179578,2023-08-16T14:18:28Z,MOD-00397,69.6,28.6,45.198,2.333,0.445,0.146,...,501.092,10800.0,10801.0,10802.0,NaN,NaN,NaN,NaN,10775.0,2023-08-16 14:18:28
494470,2023-08-16T14:17:28Z,56179577,2023-08-16T14:17:28Z,MOD-00397,71.0,28.3,53.744,2.600,0.586,0.120,...,500.008,10800.0,10801.0,10802.0,NaN,NaN,NaN,NaN,10775.0,2023-08-16 14:17:28

In [13]:
N_COMPONENTS = 4 

#Columns to include in the analysis is bin 0 to bin 5 as well as gases #bins 0-5 represent PM2.5. 0-2 represent PM1
COLS_TO_INCLUDE = []
for i in range(6):   
    COLS_TO_INCLUDE.append('bin'+str(i))
COLS_TO_INCLUDE.append('co_diff')
COLS_TO_INCLUDE.append('no_diff')
COLS_TO_INCLUDE.append('no2_diff')
#COLS_TO_INCLUDE.append('no2')
COLS_TO_INCLUDE.append('ox_diff')
#COLS_TO_INCLUDE.append('co2_raw')

In [14]:
COLS_TO_INCLUDE

['bin0',
 'bin1',
 'bin2',
 'bin3',
 'bin4',
 'bin5',
 'co_diff',
 'no_diff',
 'no2_diff',
 'ox_diff']

In [15]:
data=data[COLS_TO_INCLUDE]
data
data=data.where(data>0)
#data

In [16]:
data_full = data_orig[['localtime']+COLS_TO_INCLUDE]
data_full = data_full[data_full['bin0']>0]
data_full = data_full[data_full['bin1']>0]
data_full = data_full[data_full['bin2']>0]
data_full = data_full[data_full['bin3']>0]
data_full = data_full[data_full['bin4']>0]
data_full = data_full[data_full['bin5']>0]
data_full = data_full[data_full['co_diff']>0]
data_full = data_full[data_full['no_diff']>0]
data_full = data_full[data_full['no2_diff']>0]
#data_full = data_full[data_full['no2']>0]
data_full = data_full[data_full['ox_diff']>0]
#data_full = data_full[data_full['co2_raw']>0]

data_full.to_csv('4_factor_MOD-00397/timeseries.csv')
data_full

,localtime,bin0,bin1,bin2,bin3,bin4,bin5,co_diff,no_diff,no2_diff,ox_diff
0,2024-10-01 23:59:32,7.722,0.240,0.070,0.008,0.013,0.017,77.2,4.8,1.1,1.0
1,2024-10-01 23:58:32,6.953,0.220,0.049,0.007,0.024,0.007,77.2,4.7,1.3,1.1
2,2024-10-01 23:57:32,6.780,0.221,0.060,0.007,0.029,0.021,72.1,4.9,1.3,1.2
3,2024-10-01 23:56:32,9.128,0.298,0.063,0.021,0.029,0.005,72.7,4.8,1.2,0.9
4,2024-10-01 23:55:32,7.449,0.192,0.051,0.017,0.015,0.016,70.7,4.7,1.1,0.9
...,...,...,...,...,...,...,...,...,...,...,...
494252,2023-08-16 17:54:28,130.378,16.450,5.366,1.387,1.242,0.337,224.2,36.4,0.4,0.2
494253,2023-08-16 17:53:28,136.256,16.360,5.077,1.168,1.079,0.358,224.6,36.6,0.7,0.1
494254,2023-08-16 17:52:28,120.234,14.457,4.634,0.939,0.934,0.321,223.7,36.6,0.1,0.1
494255,2023-08-16 17:51:28,119.332,13.699,4.225,1.098,0.844,0.354,221.4,36.7,0.4,0.1
494256,2023-08-16 17:50:28,118.176,13.320,3.920,0.999,0.766,0.328,220.9,36.8,0.3,0.2

In [17]:
#data_full = data_full.dropna(subset = ['timestamp_local']+ COLS_TO_INCLUDE)
#data_full = data_full.reset_index(drop=True)
#data_full
#dfull = data_full.reset_index().drop('index',axis=1)
#Drop the rows that include NaN values for columns of interest 
#dfull = dfull.dropna(subset=['timestamp_local']+ COLS_TO_INCLUDE)
#dfull = dfull[['timestamp_local']+ COLS_TO_INCLUDE]
#dfull

In [18]:
# For the df_original, have the same number of rows as df that will become an input for NMF
# So in the future when we merge, they have the same rows of interest 
data = data.dropna(subset = COLS_TO_INCLUDE)
data = data.reset_index(drop=True)
data.shape

(248419, 10)

In [19]:
df = data.reset_index().drop('index',axis=1)
#Drop the rows that include NaN values for columns of interest 
df = df.dropna(subset=COLS_TO_INCLUDE)
df = df[COLS_TO_INCLUDE]
df

,bin0,bin1,bin2,bin3,bin4,bin5,co_diff,no_diff,no2_diff,ox_diff
0,7.722,0.240,0.070,0.008,0.013,0.017,77.2,4.8,1.1,1.0
1,6.953,0.220,0.049,0.007,0.024,0.007,77.2,4.7,1.3,1.1
2,6.780,0.221,0.060,0.007,0.029,0.021,72.1,4.9,1.3,1.2
3,9.128,0.298,0.063,0.021,0.029,0.005,72.7,4.8,1.2,0.9
4,7.449,0.192,0.051,0.017,0.015,0.016,70.7,4.7,1.1,0.9
...,...,...,...,...,...,...,...,...,...,...
248414,130.378,16.450,5.366,1.387,1.242,0.337,224.2,36.4,0.4,0.2
248415,136.256,16.360,5.077,1.168,1.079,0.358,224.6,36.6,0.7,0.1
248416,120.234,14.457,4.634,0.939,0.934,0.321,223.7,36.6,0.1,0.1
248417,119.332,13.699,4.225,1.098,0.844,0.354,221.4,36.7,0.4,0.1
248418,118.176,13.320,3.920,0.999,0.766,0.328,220.9,36.8,0.3,0.2

In [20]:
#set up the NMF
nmf = NMF(n_components=N_COMPONENTS,max_iter=8000)

#fit the data (Note: input matrix has to be transposed)

#W = nmf.fit_transform(X=df_normalized_both[COLS_TO_INCLUDE].T)
W = nmf.fit_transform(df.T)
H = nmf.components_

In [21]:
#Convert the results to a dataframe
results = pd.DataFrame(H.T,index=df.index) #H is time series data of the factors, W is the comp (coeff matrix)
#Set the column names
results.columns = ["Factor {}".format(i+1) for i in range(H.T.shape[1])]
results

        Factor 1   Factor 2  Factor 3   Factor 4
0       0.000000  42.102276       0.0   7.015013
1       0.000000  43.195067       0.0   6.526662
2       0.000000  39.809132       0.0   6.335638
3       0.000000  36.947716       0.0   7.811896
4       0.000000  37.940385       0.0   6.699669
...          ...        ...       ...        ...
248414  1.292004  70.502277       0.0  43.909288
248415  1.370141  68.366863       0.0  44.978688
248416  1.142898  73.618135       0.0  42.428609
248417  1.125752  71.972127       0.0  42.401817
248418  1.106993  71.879156       0.0  42.287887

[248419 rows x 4 columns]

In [22]:
comp = pd.DataFrame(W.T,index=results.columns,columns=COLS_TO_INCLUDE)
comp

,bin0,bin1,bin2,bin3,bin4,bin5,co_diff,no_diff,no2_diff,ox_diff
Factor 1,55.066747,7.550585,2.200807,0.69542,1.052371,0.740329,0.263402,0.000000,0.000000,0.000000
Factor 2,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1.312740,0.036285,0.014118,0.014240
Factor 3,0.560405,0.000000,0.000000,0.00000,0.000000,0.000000,10.841152,0.000000,0.097387,0.000000
Factor 4,1.377732,0.002929,0.000000,0.00000,0.000000,0.000000,3.016550,0.255561,0.031209,0.102188

In [23]:
#calculate the total and residual for each column

res = []
# [[0, bin0], [1, bin1],...[14,o3]] 
for i, col in enumerate(comp.columns):
    #extract each bin's column for the weights of each factor and 
    #multiply that weights to the basis matrix 
    #Then sum up each factor's weight*basis matrix values
    by_factor = pd.DataFrame(comp.iloc[:, i].values * H.T).sum()
        
   # divide by the total ammount for a given species/column
    by_factor /= df[col].sum()
    #by_factor /= df_normalized_both[col].sum()
    
    #Transpose the by_factor and add that as a row to the "res" dataframe
    res.append(pd.DataFrame(by_factor, columns=[col]).T)

#Converting to dataframe
res = pd.concat(res)

#Columns of res df is the same as results (coefficient matrix) columns
res.columns = results.columns

#add a residual column which simply adds up across the row and subtract that from 1
res['Residual'] = 1-res.sum(axis=1)

#If res > 0, underestimate, if res < 0, overestimate
res

          Factor 1  Factor 2  Factor 3  Factor 4  Residual
bin0      0.533165  0.000000  0.033055  0.440029 -0.006248
bin1      0.886017  0.000000  0.000000  0.011336  0.102646
bin2      0.909057  0.000000  0.000000  0.000000  0.090943
bin3      0.934368  0.000000  0.000000  0.000000  0.065632
bin4      0.955624  0.000000  0.000000  0.000000  0.044376
bin5      0.989514  0.000000  0.000000  0.000000  0.010486
co_diff   0.000854  0.462174  0.214016  0.322455  0.000501
no_diff   0.000000  0.293387  0.000000  0.627397  0.079216
no2_diff  0.000000  0.377324  0.145946  0.253253  0.223476
ox_diff   0.000000  0.254411  0.000000  0.554299  0.191289

In [24]:
results

        Factor 1   Factor 2  Factor 3   Factor 4
0       0.000000  42.102276       0.0   7.015013
1       0.000000  43.195067       0.0   6.526662
2       0.000000  39.809132       0.0   6.335638
3       0.000000  36.947716       0.0   7.811896
4       0.000000  37.940385       0.0   6.699669
...          ...        ...       ...        ...
248414  1.292004  70.502277       0.0  43.909288
248415  1.370141  68.366863       0.0  44.978688
248416  1.142898  73.618135       0.0  42.428609
248417  1.125752  71.972127       0.0  42.401817
248418  1.106993  71.879156       0.0  42.287887

[248419 rows x 4 columns]

In [25]:
#Merge the basis matrix with the original timeseries
#results = pd.merge(data_full, results,left_index=True,right_index=True,how='outer')

In [26]:
#results

In [27]:
comp.to_csv('4_factor_MOD-00397/comp.csv')

In [28]:
res.to_csv('4_factor_MOD-00397/res.csv')

In [29]:
results.to_csv('4_factor_MOD-00397/results.csv')