In [1]:
from sklearn.decomposition import NMF

In [2]:
import pandas as pd
import glob, os
#from dataprep.eda import plot_correlation
#from dataprep.eda import plot
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import numpy as np
import datetime
import matplotlib.pyplot as plt
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import plotly.express as px
import seaborn as sns
from scipy import stats
from sklearn.linear_model import LinearRegression
import pandas as pd
#import datacleaner
import numpy as np
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')


import random
from matplotlib import pyplot as plt
from matplotlib import colors as mpc
plt.rcParams["font.family"] = "Poppins"
from sklearn.mixture import GaussianMixture

import seaborn as sns; sns.set()
from sklearn.metrics import r2_score 
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
#from gmr.utils import check_random_state
#from gmr import MVN, GMM, plot_error_ellipses
#random_state = check_random_state(0)

from IPython.display import clear_output

%load_ext autoreload
%autoreload 
%matplotlib inline


import plotly.express as px

import statsmodels.api as sm
from statsmodels.tools.eval_measures import rmse
#from bioinfokit.analys import get_data, stat
from statsmodels.stats.outliers_influence import variance_inflation_factor 
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [3]:
# concatenate raw data files downloaded from sensor
'''
alldata = pd.DataFrame(columns=['timestamp', 'id', 'timestamp_local', 'sn',
       'rh', 'temp',
       'bin0','bin1','bin2','bin3','bin4','bin5','bin6',
       'bin7','bin8','bin9','bin10','bin11','bin12',
        'bin13','bin14','bin15','bin16','bin17','opcn3_pm1',
       'opcn3_pm25', 'opcn3_pm10',
       'pm1_env', 'pm25_env', 'pm10_env',
       'neph_bin0', 'wd', 'ws', 'co2_raw','co_we','co_ae','no_we','no_ae',
        'no2_we','no2_ae', 'o3_we','o3_ae','co_diff','no_diff','no2_diff','ox_diff',
        'flag','device_state','co2_model_id', 'no2','no','pm10_model_id',
        'co_model_id', 'pm1','co','pm10','no_model_id','pm25_model_id', 'pm1_model_id'
        'co2','pm25','no2_model_id','o3','o3_model_id'
      ])

total_len = 0
for file in glob.glob("MOD-00400-raw.csv"):
    this_data = pd.read_csv(file,header=0)
    total_len += len(this_data)
    print(total_len)
    alldata = alldata.append(this_data, ignore_index=True)
'''

'\nalldata = pd.DataFrame(columns=[\'timestamp\', \'id\', \'timestamp_local\', \'sn\',\n       \'rh\', \'temp\',\n       \'bin0\',\'bin1\',\'bin2\',\'bin3\',\'bin4\',\'bin5\',\'bin6\',\n       \'bin7\',\'bin8\',\'bin9\',\'bin10\',\'bin11\',\'bin12\',\n        \'bin13\',\'bin14\',\'bin15\',\'bin16\',\'bin17\',\'opcn3_pm1\',\n       \'opcn3_pm25\', \'opcn3_pm10\',\n       \'pm1_env\', \'pm25_env\', \'pm10_env\',\n       \'neph_bin0\', \'wd\', \'ws\', \'co2_raw\',\'co_we\',\'co_ae\',\'no_we\',\'no_ae\',\n        \'no2_we\',\'no2_ae\', \'o3_we\',\'o3_ae\',\'co_diff\',\'no_diff\',\'no2_diff\',\'ox_diff\',\n        \'flag\',\'device_state\',\'co2_model_id\', \'no2\',\'no\',\'pm10_model_id\',\n        \'co_model_id\', \'pm1\',\'co\',\'pm10\',\'no_model_id\',\'pm25_model_id\', \'pm1_model_id\'\n        \'co2\',\'pm25\',\'no2_model_id\',\'o3\',\'o3_model_id\'\n      ])\n\ntotal_len = 0\nfor file in glob.glob("MOD-00400-raw.csv"):\n    this_data = pd.read_csv(file,header=0)\n    total_len += len(this_data)\n    print(total_len)\n    alldata = alldata.append(this_data, ignore_index=True)\n'

In [4]:
#alldata.to_csv('3_factor_MOD-00400/all_combined.csv')

In [5]:
data=pd.read_csv('MOD-00400-raw.csv')
data

,timestamp,id,timestamp_local,sn,rh,temp,bin0,bin1,bin2,bin3,...,o3,co2,pm1_model_id,pm25_model_id,pm10_model_id,co_model_id,no_model_id,no2_model_id,o3_model_id,co2_model_id
0,2024-10-01T23:59:51Z,223485351,2024-10-01T23:59:51Z,MOD-00400,80.6,26.2,12.422,1.372,0.183,0.031,...,4.881,678.773,10809.0,10810.0,10811.0,10798.0,10793.0,10789.0,10783.0,10778
1,2024-10-01T23:58:51Z,223485327,2024-10-01T23:58:51Z,MOD-00400,80.6,26.2,12.824,1.254,0.221,0.041,...,5.571,681.664,10809.0,10810.0,10811.0,10798.0,10793.0,10789.0,10783.0,10778
2,2024-10-01T23:57:51Z,223485329,2024-10-01T23:57:51Z,MOD-00400,80.7,26.2,16.099,1.477,0.205,0.062,...,2.773,685.518,10809.0,10810.0,10811.0,10798.0,10793.0,10789.0,10783.0,10778
3,2024-10-01T23:56:51Z,223485331,2024-10-01T23:56:51Z,MOD-00400,80.8,26.2,13.350,1.257,0.157,0.049,...,2.737,688.047,10809.0,10810.0,10811.0,10798.0,10793.0,10789.0,10783.0,10778
4,2024-10-01T23:55:51Z,223485325,2024-10-01T23:55:51Z,MOD-00400,81.0,26.2,13.767,1.220,0.256,0.051,...,1.973,690.938,10809.0,10810.0,10811.0,10798.0,10793.0,10789.0,10783.0,10778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417435,2023-08-16T14:12:20Z,56178805,2023-08-16T14:12:20Z,MOD-00400,67.6,28.8,16.852,1.503,0.253,0.064,...,NaN,592.173,10809.0,10810.0,10811.0,NaN,NaN,NaN,NaN,10778
417436,2023-08-16T14:11:20Z,56178802,2023-08-16T14:11:20Z,MOD-00400,68.4,28.5,18.148,1.688,0.252,0.059,...,NaN,603.133,10809.0,10810.0,10811.0,NaN,NaN,NaN,NaN,10778
417437,2023-08-16T14:10:20Z,56178152,2023-08-16T14:10:20Z,MOD-00400,69.2,28.1,15.570,1.567,0.308,0.087,...,NaN,616.743,10809.0,10810.0,10811.0,NaN,NaN,NaN,NaN,10778
417438,2023-08-16T14:09:20Z,56178153,2023-08-16T14:09:20Z,MOD-00400,71.3,27.7,16.402,1.775,0.298,0.094,...,NaN,633.847,10809.0,10810.0,10811.0,NaN,NaN,NaN,NaN,10778
417439,2023-08-16T14:08:20Z,56178151,2023-08-16T14:08:20Z,MOD-00400,71.7,27.3,24.215,1.941,0.397,0.099,...,NaN,661.067,10809.0,10810.0,10811.0,NaN,NaN,NaN,NaN,10778

In [6]:
data.info

<bound method DataFrame.info of                    timestamp         id       timestamp_local         sn  \
0       2024-10-01T23:59:51Z  223485351  2024-10-01T23:59:51Z  MOD-00400
1       2024-10-01T23:58:51Z  223485327  2024-10-01T23:58:51Z  MOD-00400
2       2024-10-01T23:57:51Z  223485329  2024-10-01T23:57:51Z  MOD-00400
3       2024-10-01T23:56:51Z  223485331  2024-10-01T23:56:51Z  MOD-00400
4       2024-10-01T23:55:51Z  223485325  2024-10-01T23:55:51Z  MOD-00400
...                      ...        ...                   ...        ...
417435  2023-08-16T14:12:20Z   56178805  2023-08-16T14:12:20Z  MOD-00400
417436  2023-08-16T14:11:20Z   56178802  2023-08-16T14:11:20Z  MOD-00400
417437  2023-08-16T14:10:20Z   56178152  2023-08-16T14:10:20Z  MOD-00400
417438  2023-08-16T14:09:20Z   56178153  2023-08-16T14:09:20Z  MOD-00400
417439  2023-08-16T14:08:20Z   56178151  2023-08-16T14:08:20Z  MOD-00400

          rh  temp    bin0   bin1   bin2   bin3  ...     o3      co2  \
0       80.6  26.2  12.422  1.372  0.183  0.031  ...  4.881  678.773
1       80.6  26.2  12.824  1.254  0.221  0.041  ...  5.571  681.664
2       80.7  26.2  16.099  1.477  0.205  0.062  ...  2.773  685.518
3       80.8  26.2  13.350  1.257  0.157  0.049  ...  2.737  688.047
4       81.0  26.2  13.767  1.220  0.256  0.051  ...  1.973  690.938
...      ...   ...     ...    ...    ...    ...  ...    ...      ...
417435  67.6  28.8  16.852  1.503  0.253  0.064  ...    NaN  592.173
417436  68.4  28.5  18.148  1.688  0.252  0.059  ...    NaN  603.133
417437  69.2  28.1  15.570  1.567  0.308  0.087  ...    NaN  616.743
417438  71.3  27.7  16.402  1.775  0.298  0.094  ...    NaN  633.847
417439  71.7  27.3  24.215  1.941  0.397  0.099  ...    NaN  661.067

        pm1_model_id  pm25_model_id  pm10_model_id  co_model_id  no_model_id  \
0            10809.0        10810.0        10811.0      10798.0      10793.0
1            10809.0        10810.0        10811.0      10798.0      10793.0
2            10809.0        10810.0        10811.0      10798.0      10793.0
3            10809.0        10810.0        10811.0      10798.0      10793.0
4            10809.0        10810.0        10811.0      10798.0      10793.0
...              ...            ...            ...          ...          ...
417435       10809.0        10810.0        10811.0          NaN          NaN
417436       10809.0        10810.0        10811.0          NaN          NaN
417437       10809.0        10810.0        10811.0          NaN          NaN
417438       10809.0        10810.0        10811.0          NaN          NaN
417439       10809.0        10810.0        10811.0          NaN          NaN

        no2_model_id  o3_model_id  co2_model_id
0            10789.0      10783.0         10778
1            10789.0      10783.0         10778
2            10789.0      10783.0         10778
3            10789.0      10783.0         10778
4            10789.0      10783.0         10778
...              ...          ...           ...
417435           NaN          NaN         10778
417436           NaN          NaN         10778
417437           NaN          NaN         10778
417438           NaN          NaN         10778
417439           NaN          NaN         10778

[417440 rows x 70 columns]>

In [7]:
#clean time
#data['cleanedtime'] = data['timestamp_local']
#data = data[data['UTCDateTime'].str.contains('\x1a') == False]
data['localtime'] = pd.to_datetime(data['timestamp_local'],format="%Y-%m-%dT%H:%M:%SZ")

data_orig = data

#avg by day
data_avgd_day = data.groupby(data['localtime'].dt.date).mean(numeric_only=True)

#avg by hour
data_avgd_hour = data.resample('H', on='localtime').mean(numeric_only=True)

data_avgd_hour

,id,rh,temp,bin0,bin1,bin2,bin3,bin4,bin5,bin6,...,o3,co2,pm1_model_id,pm25_model_id,pm10_model_id,co_model_id,no_model_id,no2_model_id,o3_model_id,co2_model_id
localtime,,,,,,,,,,,,,,,,,,,,,
2023-08-16 14:00:00,5.618209e+07,54.233962,32.913208,17.108321,2.157283,0.570717,0.144415,0.122038,0.058679,0.026906,...,NaN,548.819075,10809.0,10810.0,10811.0,NaN,NaN,NaN,NaN,10778.0
2023-08-16 15:00:00,5.619018e+07,47.110638,35.240426,18.084830,2.940872,1.017553,0.277915,0.238553,0.087043,0.037787,...,87.292353,533.139064,10809.0,10810.0,10811.0,10798.0,10793.0,10789.0,10783.0,10778.0
2023-08-16 16:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-16 17:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-08-16 18:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-10-01 19:00:00,2.233972e+08,77.541667,27.493333,10.900850,1.293850,0.235033,0.047850,0.069133,0.034517,0.018100,...,9.817667,630.271483,10809.0,10810.0,10811.0,10798.0,10793.0,10789.0,10783.0,10778.0
2024-10-01 20:00:00,2.233976e+08,79.898333,26.908333,10.027683,1.248467,0.242567,0.057200,0.070867,0.034767,0.018183,...,6.789300,648.852217,10809.0,10810.0,10811.0,10798.0,10793.0,10789.0,10783.0,10778.0
2024-10-01 21:00:00,2.233979e+08,80.931667,26.485000,11.134183,1.402967,0.304400,0.066700,0.087883,0.050983,0.023650,...,4.645550,666.977233,10809.0,10810.0,10811.0,10798.0,10793.0,10789.0,10783.0,10778.0
2024-10-01 22:00:00,2.234374e+08,80.896667,26.265000,29.825917,1.800733,0.319667,0.067833,0.080317,0.057800,0.028467,...,4.477217,677.737000,10809.0,10810.0,10811.0,10798.0,10793.0,10789.0,10783.0,10778.0
2024-10-01 23:00:00,2.234852e+08,80.773333,26.200000,12.608733,1.256450,0.248367,0.052867,0.068650,0.039483,0.018033,...,5.504217,677.311417,10809.0,10810.0,10811.0,10798.0,10793.0,10789.0,10783.0,10778.0

In [8]:
# load in kinshasa embassy data

#bam_2022 = pd.read_csv('Kinshasa_PM2.5_2022_YTD.csv')
#bam_oct2022 = pd.read_csv('Kinshasa_PM2.5_2022_10_MTD.csv')

#bam_2022['localtime'] = pd.to_datetime(bam_2022['Date (LT)'], utc=True)
#bam_oct2022['localtime'] = pd.to_datetime(bam_oct2022['Date (LT)'], utc=True)
#bam_all = bam_2022.append(bam_oct2022, ignore_index=True)

In [9]:
# merge dataframes for BAM and modpm
#merge_data = bam_all.merge(data_avgd_hour, left_on='localtime', right_on='localtime')

#some light cleaning
#merge_data_cleaned = merge_data[merge_data['NowCast Conc.'] > 0]
#merge_data_cleaned = merge_data_cleaned[merge_data_cleaned['pm25'].notna()]

##merge_data_cleaned
#plt.figure(figsize=(15,5))
#plt.plot(merge_data_cleaned['localtime'],merge_data_cleaned['NowCast Conc.'],'r-')
#plt.show()

In [10]:
#fig = px.scatter(merge_data_cleaned, x='NowCast Conc.', y='pm25',
         #     color='rh')
#fig.show()

In [11]:
### OK, something is clearly wrong with the Kinshasa BAM, so we move on to other analysis.... ###

In [12]:
data

,timestamp,id,timestamp_local,sn,rh,temp,bin0,bin1,bin2,bin3,...,co2,pm1_model_id,pm25_model_id,pm10_model_id,co_model_id,no_model_id,no2_model_id,o3_model_id,co2_model_id,localtime
0,2024-10-01T23:59:51Z,223485351,2024-10-01T23:59:51Z,MOD-00400,80.6,26.2,12.422,1.372,0.183,0.031,...,678.773,10809.0,10810.0,10811.0,10798.0,10793.0,10789.0,10783.0,10778,2024-10-01 23:59:51
1,2024-10-01T23:58:51Z,223485327,2024-10-01T23:58:51Z,MOD-00400,80.6,26.2,12.824,1.254,0.221,0.041,...,681.664,10809.0,10810.0,10811.0,10798.0,10793.0,10789.0,10783.0,10778,2024-10-01 23:58:51
2,2024-10-01T23:57:51Z,223485329,2024-10-01T23:57:51Z,MOD-00400,80.7,26.2,16.099,1.477,0.205,0.062,...,685.518,10809.0,10810.0,10811.0,10798.0,10793.0,10789.0,10783.0,10778,2024-10-01 23:57:51
3,2024-10-01T23:56:51Z,223485331,2024-10-01T23:56:51Z,MOD-00400,80.8,26.2,13.350,1.257,0.157,0.049,...,688.047,10809.0,10810.0,10811.0,10798.0,10793.0,10789.0,10783.0,10778,2024-10-01 23:56:51
4,2024-10-01T23:55:51Z,223485325,2024-10-01T23:55:51Z,MOD-00400,81.0,26.2,13.767,1.220,0.256,0.051,...,690.938,10809.0,10810.0,10811.0,10798.0,10793.0,10789.0,10783.0,10778,2024-10-01 23:55:51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417435,2023-08-16T14:12:20Z,56178805,2023-08-16T14:12:20Z,MOD-00400,67.6,28.8,16.852,1.503,0.253,0.064,...,592.173,10809.0,10810.0,10811.0,NaN,NaN,NaN,NaN,10778,2023-08-16 14:12:20
417436,2023-08-16T14:11:20Z,56178802,2023-08-16T14:11:20Z,MOD-00400,68.4,28.5,18.148,1.688,0.252,0.059,...,603.133,10809.0,10810.0,10811.0,NaN,NaN,NaN,NaN,10778,2023-08-16 14:11:20
417437,2023-08-16T14:10:20Z,56178152,2023-08-16T14:10:20Z,MOD-00400,69.2,28.1,15.570,1.567,0.308,0.087,...,616.743,10809.0,10810.0,10811.0,NaN,NaN,NaN,NaN,10778,2023-08-16 14:10:20
417438,2023-08-16T14:09:20Z,56178153,2023-08-16T14:09:20Z,MOD-00400,71.3,27.7,16.402,1.775,0.298,0.094,...,633.847,10809.0,10810.0,10811.0,NaN,NaN,NaN,NaN,10778,2023-08-16 14:09:20
417439,2023-08-16T14:08:20Z,56178151,2023-08-16T14:08:20Z,MOD-00400,71.7,27.3,24.215,1.941,0.397,0.099,...,661.067,10809.0,10810.0,10811.0,NaN,NaN,NaN,NaN,10778,2023-08-16 14:08:20

In [13]:
N_COMPONENTS = 4 

#Columns to include in the analysis is bin 0 to bin 5 as well as gases #bins 0-5 represent PM2.5. 0-2 represent PM1
COLS_TO_INCLUDE = []
for i in range(6):   
    COLS_TO_INCLUDE.append('bin'+str(i))
COLS_TO_INCLUDE.append('co_diff')
COLS_TO_INCLUDE.append('no_diff')
COLS_TO_INCLUDE.append('no2_diff')
#COLS_TO_INCLUDE.append('no2')
COLS_TO_INCLUDE.append('ox_diff')
#COLS_TO_INCLUDE.append('co2_raw')

In [14]:
COLS_TO_INCLUDE

['bin0',
 'bin1',
 'bin2',
 'bin3',
 'bin4',
 'bin5',
 'co_diff',
 'no_diff',
 'no2_diff',
 'ox_diff']

In [15]:
data=data[COLS_TO_INCLUDE]
data
data=data.where(data>0)
#data

In [16]:
data_full = data_orig[['localtime']+COLS_TO_INCLUDE]
data_full = data_full[data_full['bin0']>0]
data_full = data_full[data_full['bin1']>0]
data_full = data_full[data_full['bin2']>0]
data_full = data_full[data_full['bin3']>0]
data_full = data_full[data_full['bin4']>0]
data_full = data_full[data_full['bin5']>0]
data_full = data_full[data_full['co_diff']>0]
data_full = data_full[data_full['no_diff']>0]
data_full = data_full[data_full['no2_diff']>0]
#data_full = data_full[data_full['no2']>0]
data_full = data_full[data_full['ox_diff']>0]
#data_full = data_full[data_full['co2_raw']>0]

data_full.to_csv('4_factor_MOD-00400/timeseries.csv')
data_full

,localtime,bin0,bin1,bin2,bin3,bin4,bin5,co_diff,no_diff,no2_diff,ox_diff
0,2024-10-01 23:59:51,12.422,1.372,0.183,0.031,0.038,0.018,84.3,5.7,0.6,2.7
1,2024-10-01 23:58:51,12.824,1.254,0.221,0.041,0.094,0.042,84.7,5.6,0.7,2.9
2,2024-10-01 23:57:51,16.099,1.477,0.205,0.062,0.010,0.063,93.0,6.2,1.1,2.1
3,2024-10-01 23:56:51,13.350,1.257,0.157,0.049,0.059,0.029,95.5,6.3,1.4,2.1
4,2024-10-01 23:55:51,13.767,1.220,0.256,0.051,0.083,0.020,95.8,6.2,1.8,1.9
...,...,...,...,...,...,...,...,...,...,...,...
417043,2023-08-19 17:48:43,4.630,0.619,0.210,0.060,0.037,0.032,123.9,14.4,0.3,10.8
417044,2023-08-19 17:47:43,5.290,0.836,0.310,0.086,0.056,0.035,127.0,15.8,1.3,9.7
417045,2023-08-19 17:46:43,13.089,0.916,0.384,0.123,0.097,0.061,128.2,15.1,1.5,9.9
417046,2023-08-19 17:45:43,5.936,0.757,0.256,0.094,0.094,0.034,129.5,15.4,0.6,10.2
417049,2023-08-19 17:42:43,11.975,1.294,0.474,0.101,0.102,0.089,144.5,16.1,0.4,10.0

In [17]:
#data_full = data_full.dropna(subset = ['timestamp_local']+ COLS_TO_INCLUDE)
#data_full = data_full.reset_index(drop=True)
#data_full
#dfull = data_full.reset_index().drop('index',axis=1)
#Drop the rows that include NaN values for columns of interest 
#dfull = dfull.dropna(subset=['timestamp_local']+ COLS_TO_INCLUDE)
#dfull = dfull[['timestamp_local']+ COLS_TO_INCLUDE]
#dfull

In [18]:
# For the df_original, have the same number of rows as df that will become an input for NMF
# So in the future when we merge, they have the same rows of interest 
data = data.dropna(subset = COLS_TO_INCLUDE)
data = data.reset_index(drop=True)
data.shape

(119769, 10)

In [19]:
df = data.reset_index().drop('index',axis=1)
#Drop the rows that include NaN values for columns of interest 
df = df.dropna(subset=COLS_TO_INCLUDE)
df = df[COLS_TO_INCLUDE]
df

,bin0,bin1,bin2,bin3,bin4,bin5,co_diff,no_diff,no2_diff,ox_diff
0,12.422,1.372,0.183,0.031,0.038,0.018,84.3,5.7,0.6,2.7
1,12.824,1.254,0.221,0.041,0.094,0.042,84.7,5.6,0.7,2.9
2,16.099,1.477,0.205,0.062,0.010,0.063,93.0,6.2,1.1,2.1
3,13.350,1.257,0.157,0.049,0.059,0.029,95.5,6.3,1.4,2.1
4,13.767,1.220,0.256,0.051,0.083,0.020,95.8,6.2,1.8,1.9
...,...,...,...,...,...,...,...,...,...,...
119764,4.630,0.619,0.210,0.060,0.037,0.032,123.9,14.4,0.3,10.8
119765,5.290,0.836,0.310,0.086,0.056,0.035,127.0,15.8,1.3,9.7
119766,13.089,0.916,0.384,0.123,0.097,0.061,128.2,15.1,1.5,9.9
119767,5.936,0.757,0.256,0.094,0.094,0.034,129.5,15.4,0.6,10.2
119768,11.975,1.294,0.474,0.101,0.102,0.089,144.5,16.1,0.4,10.0

In [20]:
#set up the NMF
nmf = NMF(n_components=N_COMPONENTS,max_iter=8000)

#fit the data (Note: input matrix has to be transposed)

#W = nmf.fit_transform(X=df_normalized_both[COLS_TO_INCLUDE].T)
W = nmf.fit_transform(df.T)
H = nmf.components_

In [21]:
#Convert the results to a dataframe
results = pd.DataFrame(H.T,index=df.index) #H is time series data of the factors, W is the comp (coeff matrix)
#Set the column names
results.columns = ["Factor {}".format(i+1) for i in range(H.T.shape[1])]
results

        Factor 1    Factor 2  Factor 3   Factor 4
0       0.109969  162.506400  0.148931  12.620574
1       0.119005  160.748738  0.107139  12.699611
2       0.185587  169.835046  0.030969  13.979014
3       0.103888  173.057908  0.236570  14.267918
4       0.114273  168.866241  0.215289  14.322327
...          ...         ...       ...        ...
119764  0.000000  496.791463  3.208965  17.183615
119765  0.000000  534.693398  3.145719  17.676888
119766  0.004964  509.347905  0.470681  19.089042
119767  0.000000  522.182428  3.017425  18.114191
119768  0.000000  532.518963  1.577320  21.038968

[119769 rows x 4 columns]

In [22]:
comp = pd.DataFrame(W.T,index=results.columns,columns=COLS_TO_INCLUDE)
comp

,bin0,bin1,bin2,bin3,bin4,bin5,co_diff,no_diff,no2_diff,ox_diff
Factor 1,35.290744,6.463515,1.990009,0.528735,0.593913,0.342717,0.004669,0.128112,0.087223,0.000000
Factor 2,0.000026,0.000000,0.000000,0.000000,0.000000,0.000000,0.000319,0.028380,0.002127,0.006995
Factor 3,0.001028,0.013810,0.007019,0.002478,0.003180,0.002294,2.795483,0.009932,0.001142,0.000000
Factor 4,0.685498,0.000000,0.000000,0.000000,0.000000,0.000000,6.640837,0.076874,0.048792,0.147700

In [23]:
#calculate the total and residual for each column

res = []
# [[0, bin0], [1, bin1],...[14,o3]] 
for i, col in enumerate(comp.columns):
    #extract each bin's column for the weights of each factor and 
    #multiply that weights to the basis matrix 
    #Then sum up each factor's weight*basis matrix values
    by_factor = pd.DataFrame(comp.iloc[:, i].values * H.T).sum()
        
   # divide by the total ammount for a given species/column
    by_factor /= df[col].sum()
    #by_factor /= df_normalized_both[col].sum()
    
    #Transpose the by_factor and add that as a row to the "res" dataframe
    res.append(pd.DataFrame(by_factor, columns=[col]).T)

#Converting to dataframe
res = pd.concat(res)

#Columns of res df is the same as results (coefficient matrix) columns
res.columns = results.columns

#add a residual column which simply adds up across the row and subtract that from 1
res['Residual'] = 1-res.sum(axis=1)

#If res > 0, underestimate, if res < 0, overestimate
res

          Factor 1  Factor 2  Factor 3  Factor 4  Residual
bin0      0.705545  0.000099  0.001425  0.297032 -0.004101
bin1      0.928762  0.000000  0.137557  0.000000 -0.066318
bin2      0.928382  0.000000  0.226968  0.000000 -0.155350
bin3      0.876319  0.000000  0.284686  0.000000 -0.161005
bin4      0.782956  0.000000  0.290615  0.000000 -0.073571
bin5      0.718010  0.000000  0.333170  0.000000 -0.051179
co_diff   0.000014  0.000179  0.573675  0.426105  0.000028
no_diff   0.016783  0.702259  0.090191  0.218268 -0.027501
no2_diff  0.051671  0.237963  0.046886  0.626459  0.037021
ox_diff   0.000000  0.257359  0.000000  0.623532  0.119109

In [24]:
results

        Factor 1    Factor 2  Factor 3   Factor 4
0       0.109969  162.506400  0.148931  12.620574
1       0.119005  160.748738  0.107139  12.699611
2       0.185587  169.835046  0.030969  13.979014
3       0.103888  173.057908  0.236570  14.267918
4       0.114273  168.866241  0.215289  14.322327
...          ...         ...       ...        ...
119764  0.000000  496.791463  3.208965  17.183615
119765  0.000000  534.693398  3.145719  17.676888
119766  0.004964  509.347905  0.470681  19.089042
119767  0.000000  522.182428  3.017425  18.114191
119768  0.000000  532.518963  1.577320  21.038968

[119769 rows x 4 columns]

In [25]:
#Merge the basis matrix with the original timeseries
#results = pd.merge(data_full, results,left_index=True,right_index=True,how='outer')

In [26]:
#results

In [27]:
comp.to_csv('4_factor_MOD-00400/comp.csv')

In [28]:
res.to_csv('4_factor_MOD-00400/res.csv')

In [29]:
results.to_csv('4_factor_MOD-00400/results.csv')