In [1]:
from sklearn.decomposition import NMF

In [2]:
import pandas as pd
import glob, os
#from dataprep.eda import plot_correlation
#from dataprep.eda import plot
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import numpy as np
import datetime
import matplotlib.pyplot as plt
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import plotly.express as px
import seaborn as sns
from scipy import stats
from sklearn.linear_model import LinearRegression
import pandas as pd
#import datacleaner
import numpy as np
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')


import random
from matplotlib import pyplot as plt
from matplotlib import colors as mpc
plt.rcParams["font.family"] = "Poppins"
from sklearn.mixture import GaussianMixture

import seaborn as sns; sns.set()
from sklearn.metrics import r2_score 
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
#from gmr.utils import check_random_state
#from gmr import MVN, GMM, plot_error_ellipses
#random_state = check_random_state(0)

from IPython.display import clear_output

%load_ext autoreload
%autoreload 
%matplotlib inline


import plotly.express as px

import statsmodels.api as sm
from statsmodels.tools.eval_measures import rmse
#from bioinfokit.analys import get_data, stat
from statsmodels.stats.outliers_influence import variance_inflation_factor 
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression

In [3]:
# concatenate raw data files downloaded from sensor
'''
alldata = pd.DataFrame(columns=['timestamp', 'id', 'timestamp_local', 'sn',
       'rh', 'temp',
       'bin0','bin1','bin2','bin3','bin4','bin5','bin6',
       'bin7','bin8','bin9','bin10','bin11','bin12',
        'bin13','bin14','bin15','bin16','bin17','opcn3_pm1',
       'opcn3_pm25', 'opcn3_pm10',
       'pm1_env', 'pm25_env', 'pm10_env',
       'neph_bin0', 'wd', 'ws', 'co2_raw','co_we','co_ae','no_we','no_ae',
        'no2_we','no2_ae', 'o3_we','o3_ae','co_diff','no_diff','no2_diff','ox_diff',
        'flag','device_state','co2_model_id', 'no2','no','pm10_model_id',
        'co_model_id', 'pm1','co','pm10','no_model_id','pm25_model_id', 'pm1_model_id'
        'co2','pm25','no2_model_id','o3','o3_model_id'
      ])

total_len = 0
for file in glob.glob("MOD-00400-raw.csv"):
    this_data = pd.read_csv(file,header=0)
    total_len += len(this_data)
    print(total_len)
    alldata = alldata.append(this_data, ignore_index=True)
'''

'\nalldata = pd.DataFrame(columns=[\'timestamp\', \'id\', \'timestamp_local\', \'sn\',\n       \'rh\', \'temp\',\n       \'bin0\',\'bin1\',\'bin2\',\'bin3\',\'bin4\',\'bin5\',\'bin6\',\n       \'bin7\',\'bin8\',\'bin9\',\'bin10\',\'bin11\',\'bin12\',\n        \'bin13\',\'bin14\',\'bin15\',\'bin16\',\'bin17\',\'opcn3_pm1\',\n       \'opcn3_pm25\', \'opcn3_pm10\',\n       \'pm1_env\', \'pm25_env\', \'pm10_env\',\n       \'neph_bin0\', \'wd\', \'ws\', \'co2_raw\',\'co_we\',\'co_ae\',\'no_we\',\'no_ae\',\n        \'no2_we\',\'no2_ae\', \'o3_we\',\'o3_ae\',\'co_diff\',\'no_diff\',\'no2_diff\',\'ox_diff\',\n        \'flag\',\'device_state\',\'co2_model_id\', \'no2\',\'no\',\'pm10_model_id\',\n        \'co_model_id\', \'pm1\',\'co\',\'pm10\',\'no_model_id\',\'pm25_model_id\', \'pm1_model_id\'\n        \'co2\',\'pm25\',\'no2_model_id\',\'o3\',\'o3_model_id\'\n      ])\n\ntotal_len = 0\nfor file in glob.glob("MOD-00400-raw.csv"):\n    this_data = pd.read_csv(file,header=0)\n    total_len += len(this_data)\n    print(total_len)\n    alldata = alldata.append(this_data, ignore_index=True)\n'

In [4]:
#alldata.to_csv('3_factor_MOD-00400/all_combined.csv')

In [5]:
data=pd.read_csv('MOD-00399-raw.csv')
data

,timestamp,id,timestamp_local,sn,rh,temp,bin0,bin1,bin2,bin3,...,o3,co2,pm1_model_id,pm25_model_id,pm10_model_id,co_model_id,no_model_id,no2_model_id,o3_model_id,co2_model_id
0,2024-09-12T18:52:03Z,210063896,2024-09-12T18:52:03Z,MOD-00399,66.4,29.5,36.331,2.416,0.176,0.059,...,NaN,475.112,10806.0,10807.0,10808.0,NaN,NaN,NaN,NaN,10777.0
1,2024-09-12T18:51:03Z,210063897,2024-09-12T18:51:03Z,MOD-00399,66.3,29.5,39.661,2.678,0.190,0.049,...,NaN,475.714,10806.0,10807.0,10808.0,NaN,NaN,NaN,NaN,10777.0
2,2024-09-12T18:50:03Z,210063894,2024-09-12T18:50:03Z,MOD-00399,65.9,29.5,34.990,2.165,0.192,0.053,...,NaN,473.907,10806.0,10807.0,10808.0,NaN,NaN,NaN,NaN,10777.0
3,2024-09-12T18:49:03Z,210063895,2024-09-12T18:49:03Z,MOD-00399,65.7,29.6,31.345,2.199,0.208,0.062,...,NaN,473.666,10806.0,10807.0,10808.0,NaN,NaN,NaN,NaN,10777.0
4,2024-09-12T18:27:36Z,210063355,2024-09-12T18:27:36Z,MOD-00399,62.5,29.9,42.957,4.631,0.254,0.036,...,NaN,469.210,10806.0,10807.0,10808.0,NaN,NaN,NaN,NaN,10777.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463476,2023-08-16T12:01:05Z,56157872,2023-08-16T12:01:05Z,MOD-00399,75.1,27.1,18.869,1.488,0.256,0.075,...,NaN,-748.735,10806.0,10807.0,10808.0,NaN,NaN,NaN,NaN,10777.0
463477,2023-08-16T12:00:05Z,56157871,2023-08-16T12:00:05Z,MOD-00399,76.0,26.9,19.393,1.496,0.282,0.095,...,NaN,-731.029,10806.0,10807.0,10808.0,NaN,NaN,NaN,NaN,10777.0
463478,2023-08-16T11:59:05Z,56157181,2023-08-16T11:59:05Z,MOD-00399,76.1,26.6,18.859,1.593,0.308,0.087,...,NaN,-718.141,10806.0,10807.0,10808.0,NaN,NaN,NaN,NaN,10777.0
463479,2023-08-16T11:58:05Z,56157183,2023-08-16T11:58:05Z,MOD-00399,76.9,26.4,18.561,1.412,0.277,0.134,...,NaN,-698.509,10806.0,10807.0,10808.0,NaN,NaN,NaN,NaN,10777.0
463480,2023-08-16T11:57:05Z,56157182,2023-08-16T11:57:05Z,MOD-00399,77.6,26.2,20.591,1.504,0.344,0.091,...,NaN,-679.358,10806.0,10807.0,10808.0,NaN,NaN,NaN,NaN,10777.0

In [6]:
data.info

<bound method DataFrame.info of                    timestamp         id       timestamp_local         sn  \
0       2024-09-12T18:52:03Z  210063896  2024-09-12T18:52:03Z  MOD-00399
1       2024-09-12T18:51:03Z  210063897  2024-09-12T18:51:03Z  MOD-00399
2       2024-09-12T18:50:03Z  210063894  2024-09-12T18:50:03Z  MOD-00399
3       2024-09-12T18:49:03Z  210063895  2024-09-12T18:49:03Z  MOD-00399
4       2024-09-12T18:27:36Z  210063355  2024-09-12T18:27:36Z  MOD-00399
...                      ...        ...                   ...        ...
463476  2023-08-16T12:01:05Z   56157872  2023-08-16T12:01:05Z  MOD-00399
463477  2023-08-16T12:00:05Z   56157871  2023-08-16T12:00:05Z  MOD-00399
463478  2023-08-16T11:59:05Z   56157181  2023-08-16T11:59:05Z  MOD-00399
463479  2023-08-16T11:58:05Z   56157183  2023-08-16T11:58:05Z  MOD-00399
463480  2023-08-16T11:57:05Z   56157182  2023-08-16T11:57:05Z  MOD-00399

          rh  temp    bin0   bin1   bin2   bin3  ...  o3      co2  \
0       66.4  29.5  36.331  2.416  0.176  0.059  ... NaN  475.112
1       66.3  29.5  39.661  2.678  0.190  0.049  ... NaN  475.714
2       65.9  29.5  34.990  2.165  0.192  0.053  ... NaN  473.907
3       65.7  29.6  31.345  2.199  0.208  0.062  ... NaN  473.666
4       62.5  29.9  42.957  4.631  0.254  0.036  ... NaN  469.210
...      ...   ...     ...    ...    ...    ...  ...  ..      ...
463476  75.1  27.1  18.869  1.488  0.256  0.075  ... NaN -748.735
463477  76.0  26.9  19.393  1.496  0.282  0.095  ... NaN -731.029
463478  76.1  26.6  18.859  1.593  0.308  0.087  ... NaN -718.141
463479  76.9  26.4  18.561  1.412  0.277  0.134  ... NaN -698.509
463480  77.6  26.2  20.591  1.504  0.344  0.091  ... NaN -679.358

        pm1_model_id  pm25_model_id  pm10_model_id  co_model_id  no_model_id  \
0            10806.0        10807.0        10808.0          NaN          NaN
1            10806.0        10807.0        10808.0          NaN          NaN
2            10806.0        10807.0        10808.0          NaN          NaN
3            10806.0        10807.0        10808.0          NaN          NaN
4            10806.0        10807.0        10808.0          NaN          NaN
...              ...            ...            ...          ...          ...
463476       10806.0        10807.0        10808.0          NaN          NaN
463477       10806.0        10807.0        10808.0          NaN          NaN
463478       10806.0        10807.0        10808.0          NaN          NaN
463479       10806.0        10807.0        10808.0          NaN          NaN
463480       10806.0        10807.0        10808.0          NaN          NaN

        no2_model_id  o3_model_id  co2_model_id
0                NaN          NaN       10777.0
1                NaN          NaN       10777.0
2                NaN          NaN       10777.0
3                NaN          NaN       10777.0
4                NaN          NaN       10777.0
...              ...          ...           ...
463476           NaN          NaN       10777.0
463477           NaN          NaN       10777.0
463478           NaN          NaN       10777.0
463479           NaN          NaN       10777.0
463480           NaN          NaN       10777.0

[463481 rows x 72 columns]>

In [7]:
#clean time
#data['cleanedtime'] = data['timestamp_local']
#data = data[data['UTCDateTime'].str.contains('\x1a') == False]
data['localtime'] = pd.to_datetime(data['timestamp_local'],format="%Y-%m-%dT%H:%M:%SZ")

data_orig = data

#avg by day
data_avgd_day = data.groupby(data['localtime'].dt.date).mean(numeric_only=True)

#avg by hour
data_avgd_hour = data.resample('H', on='localtime').mean(numeric_only=True)

data_avgd_hour

,id,rh,temp,bin0,bin1,bin2,bin3,bin4,bin5,bin6,...,o3,co2,pm1_model_id,pm25_model_id,pm10_model_id,co_model_id,no_model_id,no2_model_id,o3_model_id,co2_model_id
localtime,,,,,,,,,,,,,,,,,,,,,
2023-08-16 11:00:00,5.615718e+07,76.866667,26.400000,19.337000,1.503000,0.309667,0.104000,0.123333,0.092667,0.043000,...,NaN,-698.669333,10806.0,10807.0,10808.0,NaN,NaN,NaN,NaN,10777.0
2023-08-16 12:00:00,5.616219e+07,56.831148,32.488525,17.759918,1.241508,0.290164,0.075721,0.085279,0.065885,0.030770,...,NaN,-820.861296,10806.0,10807.0,10808.0,NaN,NaN,NaN,NaN,10777.0
2023-08-16 13:00:00,5.617186e+07,44.496667,36.486667,12.750600,0.756167,0.213367,0.059050,0.069183,0.046983,0.027950,...,4.142548,-856.292429,10806.0,10807.0,10808.0,10797.0,10792.0,10787.0,10782.0,10777.0
2023-08-16 14:00:00,5.618147e+07,41.731667,37.448333,14.501117,1.305617,0.397083,0.085317,0.081483,0.045817,0.023350,...,17.921283,-848.945000,10806.0,10807.0,10808.0,10797.0,10792.0,10787.0,10782.0,10777.0
2023-08-16 15:00:00,5.619119e+07,44.931667,36.023333,16.387783,1.971350,0.680950,0.157717,0.148000,0.069433,0.030933,...,26.571267,-856.197455,10806.0,10807.0,10808.0,10797.0,10792.0,10787.0,10782.0,10777.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-09-12 14:00:00,2.099416e+08,47.153333,35.286667,8.441400,0.501433,0.059767,0.018483,0.019833,0.013483,0.009367,...,35.615633,434.736367,10806.0,10807.0,10808.0,10797.0,10792.0,10787.0,10782.0,10777.0
2024-09-12 15:00:00,2.099701e+08,43.331667,36.823333,8.239300,0.572467,0.063133,0.018533,0.018450,0.012683,0.009700,...,36.234067,421.051633,10806.0,10807.0,10808.0,10797.0,10792.0,10787.0,10782.0,10777.0
2024-09-12 16:00:00,2.099988e+08,46.285000,35.060000,12.894000,0.801650,0.106583,0.038333,0.057150,0.057017,0.051417,...,40.344333,434.326867,10806.0,10807.0,10808.0,10797.0,10792.0,10787.0,10782.0,10777.0
2024-09-12 17:00:00,2.100427e+08,54.690000,32.090000,21.552767,1.367867,0.107350,0.030400,0.041733,0.032017,0.026467,...,38.124167,450.554833,10806.0,10807.0,10808.0,10797.0,10792.0,10787.0,10782.0,10777.0
2024-09-12 18:00:00,2.100633e+08,61.720833,30.141667,27.282958,1.894417,0.151292,0.038792,0.055833,0.038292,0.032958,...,30.697500,466.023000,10806.0,10807.0,10808.0,10797.0,10792.0,10787.0,10782.0,10777.0

In [8]:
# load in kinshasa embassy data

#bam_2022 = pd.read_csv('Kinshasa_PM2.5_2022_YTD.csv')
#bam_oct2022 = pd.read_csv('Kinshasa_PM2.5_2022_10_MTD.csv')

#bam_2022['localtime'] = pd.to_datetime(bam_2022['Date (LT)'], utc=True)
#bam_oct2022['localtime'] = pd.to_datetime(bam_oct2022['Date (LT)'], utc=True)
#bam_all = bam_2022.append(bam_oct2022, ignore_index=True)

In [9]:
# merge dataframes for BAM and modpm
#merge_data = bam_all.merge(data_avgd_hour, left_on='localtime', right_on='localtime')

#some light cleaning
#merge_data_cleaned = merge_data[merge_data['NowCast Conc.'] > 0]
#merge_data_cleaned = merge_data_cleaned[merge_data_cleaned['pm25'].notna()]

##merge_data_cleaned
#plt.figure(figsize=(15,5))
#plt.plot(merge_data_cleaned['localtime'],merge_data_cleaned['NowCast Conc.'],'r-')
#plt.show()

In [10]:
#fig = px.scatter(merge_data_cleaned, x='NowCast Conc.', y='pm25',
         #     color='rh')
#fig.show()

In [11]:
### OK, something is clearly wrong with the Kinshasa BAM, so we move on to other analysis.... ###

In [12]:
data

,timestamp,id,timestamp_local,sn,rh,temp,bin0,bin1,bin2,bin3,...,co2,pm1_model_id,pm25_model_id,pm10_model_id,co_model_id,no_model_id,no2_model_id,o3_model_id,co2_model_id,localtime
0,2024-09-12T18:52:03Z,210063896,2024-09-12T18:52:03Z,MOD-00399,66.4,29.5,36.331,2.416,0.176,0.059,...,475.112,10806.0,10807.0,10808.0,NaN,NaN,NaN,NaN,10777.0,2024-09-12 18:52:03
1,2024-09-12T18:51:03Z,210063897,2024-09-12T18:51:03Z,MOD-00399,66.3,29.5,39.661,2.678,0.190,0.049,...,475.714,10806.0,10807.0,10808.0,NaN,NaN,NaN,NaN,10777.0,2024-09-12 18:51:03
2,2024-09-12T18:50:03Z,210063894,2024-09-12T18:50:03Z,MOD-00399,65.9,29.5,34.990,2.165,0.192,0.053,...,473.907,10806.0,10807.0,10808.0,NaN,NaN,NaN,NaN,10777.0,2024-09-12 18:50:03
3,2024-09-12T18:49:03Z,210063895,2024-09-12T18:49:03Z,MOD-00399,65.7,29.6,31.345,2.199,0.208,0.062,...,473.666,10806.0,10807.0,10808.0,NaN,NaN,NaN,NaN,10777.0,2024-09-12 18:49:03
4,2024-09-12T18:27:36Z,210063355,2024-09-12T18:27:36Z,MOD-00399,62.5,29.9,42.957,4.631,0.254,0.036,...,469.210,10806.0,10807.0,10808.0,NaN,NaN,NaN,NaN,10777.0,2024-09-12 18:27:36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463476,2023-08-16T12:01:05Z,56157872,2023-08-16T12:01:05Z,MOD-00399,75.1,27.1,18.869,1.488,0.256,0.075,...,-748.735,10806.0,10807.0,10808.0,NaN,NaN,NaN,NaN,10777.0,2023-08-16 12:01:05
463477,2023-08-16T12:00:05Z,56157871,2023-08-16T12:00:05Z,MOD-00399,76.0,26.9,19.393,1.496,0.282,0.095,...,-731.029,10806.0,10807.0,10808.0,NaN,NaN,NaN,NaN,10777.0,2023-08-16 12:00:05
463478,2023-08-16T11:59:05Z,56157181,2023-08-16T11:59:05Z,MOD-00399,76.1,26.6,18.859,1.593,0.308,0.087,...,-718.141,10806.0,10807.0,10808.0,NaN,NaN,NaN,NaN,10777.0,2023-08-16 11:59:05
463479,2023-08-16T11:58:05Z,56157183,2023-08-16T11:58:05Z,MOD-00399,76.9,26.4,18.561,1.412,0.277,0.134,...,-698.509,10806.0,10807.0,10808.0,NaN,NaN,NaN,NaN,10777.0,2023-08-16 11:58:05
463480,2023-08-16T11:57:05Z,56157182,2023-08-16T11:57:05Z,MOD-00399,77.6,26.2,20.591,1.504,0.344,0.091,...,-679.358,10806.0,10807.0,10808.0,NaN,NaN,NaN,NaN,10777.0,2023-08-16 11:57:05

In [13]:
N_COMPONENTS = 4 

#Columns to include in the analysis is bin 0 to bin 5 as well as gases #bins 0-5 represent PM2.5. 0-2 represent PM1
COLS_TO_INCLUDE = []
for i in range(6):   
    COLS_TO_INCLUDE.append('bin'+str(i))
COLS_TO_INCLUDE.append('co_diff')
COLS_TO_INCLUDE.append('no_diff')
COLS_TO_INCLUDE.append('no2_diff')
#COLS_TO_INCLUDE.append('no2')
COLS_TO_INCLUDE.append('ox_diff')
#COLS_TO_INCLUDE.append('co2_raw')

In [14]:
COLS_TO_INCLUDE

['bin0',
 'bin1',
 'bin2',
 'bin3',
 'bin4',
 'bin5',
 'co_diff',
 'no_diff',
 'no2_diff',
 'ox_diff']

In [15]:
data=data[COLS_TO_INCLUDE]
data
data=data.where(data>0)
#data

In [16]:
data_full = data_orig[['localtime']+COLS_TO_INCLUDE]
data_full = data_full[data_full['bin0']>0]
data_full = data_full[data_full['bin1']>0]
data_full = data_full[data_full['bin2']>0]
data_full = data_full[data_full['bin3']>0]
data_full = data_full[data_full['bin4']>0]
data_full = data_full[data_full['bin5']>0]
data_full = data_full[data_full['co_diff']>0]
data_full = data_full[data_full['no_diff']>0]
data_full = data_full[data_full['no2_diff']>0]
#data_full = data_full[data_full['no2']>0]
data_full = data_full[data_full['ox_diff']>0]
#data_full = data_full[data_full['co2_raw']>0]

data_full.to_csv('4_factor_MOD-00399/timeseries.csv')
data_full

,localtime,bin0,bin1,bin2,bin3,bin4,bin5,co_diff,no_diff,no2_diff,ox_diff
0,2024-09-12 18:52:03,36.331,2.416,0.176,0.059,0.079,0.029,391.0,6.5,12.0,2.0
1,2024-09-12 18:51:03,39.661,2.678,0.190,0.049,0.074,0.042,422.2,7.7,13.2,1.8
2,2024-09-12 18:50:03,34.990,2.165,0.192,0.053,0.129,0.042,360.3,7.6,15.0,1.8
3,2024-09-12 18:49:03,31.345,2.199,0.208,0.062,0.081,0.047,392.9,9.8,20.1,1.4
4,2024-09-12 18:27:36,42.957,4.631,0.254,0.036,0.024,0.046,432.5,9.5,13.2,1.5
...,...,...,...,...,...,...,...,...,...,...,...
463271,2023-08-16 15:25:05,23.544,4.970,1.749,0.452,0.368,0.140,220.5,56.3,0.7,0.7
463272,2023-08-16 15:24:05,15.425,1.358,0.413,0.087,0.096,0.041,220.7,56.0,1.5,0.5
463273,2023-08-16 15:23:05,14.425,0.932,0.196,0.058,0.059,0.041,222.6,56.5,0.3,0.4
463274,2023-08-16 15:22:05,13.396,0.803,0.234,0.042,0.062,0.023,222.4,56.3,1.0,0.5
463276,2023-08-16 15:20:05,15.233,0.993,0.294,0.057,0.048,0.024,226.8,59.5,0.3,0.4

In [17]:
#data_full = data_full.dropna(subset = ['timestamp_local']+ COLS_TO_INCLUDE)
#data_full = data_full.reset_index(drop=True)
#data_full
#dfull = data_full.reset_index().drop('index',axis=1)
#Drop the rows that include NaN values for columns of interest 
#dfull = dfull.dropna(subset=['timestamp_local']+ COLS_TO_INCLUDE)
#dfull = dfull[['timestamp_local']+ COLS_TO_INCLUDE]
#dfull

In [18]:
# For the df_original, have the same number of rows as df that will become an input for NMF
# So in the future when we merge, they have the same rows of interest 
data = data.dropna(subset = COLS_TO_INCLUDE)
data = data.reset_index(drop=True)
data.shape

(312811, 10)

In [19]:
df = data.reset_index().drop('index',axis=1)
#Drop the rows that include NaN values for columns of interest 
df = df.dropna(subset=COLS_TO_INCLUDE)
df = df[COLS_TO_INCLUDE]
df

,bin0,bin1,bin2,bin3,bin4,bin5,co_diff,no_diff,no2_diff,ox_diff
0,36.331,2.416,0.176,0.059,0.079,0.029,391.0,6.5,12.0,2.0
1,39.661,2.678,0.190,0.049,0.074,0.042,422.2,7.7,13.2,1.8
2,34.990,2.165,0.192,0.053,0.129,0.042,360.3,7.6,15.0,1.8
3,31.345,2.199,0.208,0.062,0.081,0.047,392.9,9.8,20.1,1.4
4,42.957,4.631,0.254,0.036,0.024,0.046,432.5,9.5,13.2,1.5
...,...,...,...,...,...,...,...,...,...,...
312806,23.544,4.970,1.749,0.452,0.368,0.140,220.5,56.3,0.7,0.7
312807,15.425,1.358,0.413,0.087,0.096,0.041,220.7,56.0,1.5,0.5
312808,14.425,0.932,0.196,0.058,0.059,0.041,222.6,56.5,0.3,0.4
312809,13.396,0.803,0.234,0.042,0.062,0.023,222.4,56.3,1.0,0.5
312810,15.233,0.993,0.294,0.057,0.048,0.024,226.8,59.5,0.3,0.4

In [20]:
#set up the NMF
nmf = NMF(n_components=N_COMPONENTS,max_iter=8000)

#fit the data (Note: input matrix has to be transposed)

#W = nmf.fit_transform(X=df_normalized_both[COLS_TO_INCLUDE].T)
W = nmf.fit_transform(df.T)
H = nmf.components_

In [21]:
#Convert the results to a dataframe
results = pd.DataFrame(H.T,index=df.index) #H is time series data of the factors, W is the comp (coeff matrix)
#Set the column names
results.columns = ["Factor {}".format(i+1) for i in range(H.T.shape[1])]
results

        Factor 1    Factor 2   Factor 3   Factor 4
0       0.290911  240.746022  15.750732   3.628877
1       0.349527  261.094037  17.063836   3.707621
2       0.516812  230.387389  14.158443   2.276086
3       0.772227  272.499346  11.369729   2.097072
4       0.406150  258.983281  18.475351   4.412223
...          ...         ...        ...        ...
312806  2.427815    0.000000   0.000000  29.621707
312807  2.062305    0.000000   0.000000  29.671911
312808  2.004172    0.000000   0.000000  29.933721
312809  1.970998    0.000000   0.000000  29.907967
312810  2.136311    0.000000   0.000000  30.511032

[312811 rows x 4 columns]

In [22]:
comp = pd.DataFrame(W.T,index=results.columns,columns=COLS_TO_INCLUDE)
comp

,bin0,bin1,bin2,bin3,bin4,bin5,co_diff,no_diff,no2_diff,ox_diff
Factor 1,8.862356,1.455964,0.687092,0.264510,0.417717,0.290624,0.000000,8.133836,4.088633,7.245066
Factor 2,0.000000,0.000417,0.000000,0.000000,0.000000,0.000000,1.161195,0.000000,0.033773,0.001961
Factor 3,2.124563,0.308401,0.062160,0.013054,0.016578,0.010486,5.351227,0.057880,0.168434,0.000000
Factor 4,0.000000,0.087909,0.053688,0.019853,0.031169,0.022998,7.492790,0.620184,0.000000,0.008187

In [23]:
#calculate the total and residual for each column

res = []
# [[0, bin0], [1, bin1],...[14,o3]] 
for i, col in enumerate(comp.columns):
    #extract each bin's column for the weights of each factor and 
    #multiply that weights to the basis matrix 
    #Then sum up each factor's weight*basis matrix values
    by_factor = pd.DataFrame(comp.iloc[:, i].values * H.T).sum()
        
   # divide by the total ammount for a given species/column
    by_factor /= df[col].sum()
    #by_factor /= df_normalized_both[col].sum()
    
    #Transpose the by_factor and add that as a row to the "res" dataframe
    res.append(pd.DataFrame(by_factor, columns=[col]).T)

#Converting to dataframe
res = pd.concat(res)

#Columns of res df is the same as results (coefficient matrix) columns
res.columns = results.columns

#add a residual column which simply adds up across the row and subtract that from 1
res['Residual'] = 1-res.sum(axis=1)

#If res > 0, underestimate, if res < 0, overestimate
res

          Factor 1  Factor 2  Factor 3  Factor 4  Residual
bin0      0.287246  0.000000  0.713842  0.000000 -0.001088
bin1      0.293459  0.009697  0.644378  0.141005 -0.088538
bin2      0.434152  0.000000  0.407159  0.269966 -0.111277
bin3      0.532842  0.000000  0.272608  0.318262 -0.123712
bin4      0.565678  0.000000  0.232729  0.335906 -0.134312
bin5      0.579836  0.000000  0.216873  0.365141 -0.161851
co_diff   0.000000  0.538098  0.222746  0.239428 -0.000271
no_diff   0.599479  0.000000  0.044222  0.363749 -0.007449
no2_diff  0.383723  0.365797  0.163869  0.000000  0.086610
ox_diff   1.013676  0.031670  0.000000  0.009116 -0.054461

In [24]:
results

        Factor 1    Factor 2   Factor 3   Factor 4
0       0.290911  240.746022  15.750732   3.628877
1       0.349527  261.094037  17.063836   3.707621
2       0.516812  230.387389  14.158443   2.276086
3       0.772227  272.499346  11.369729   2.097072
4       0.406150  258.983281  18.475351   4.412223
...          ...         ...        ...        ...
312806  2.427815    0.000000   0.000000  29.621707
312807  2.062305    0.000000   0.000000  29.671911
312808  2.004172    0.000000   0.000000  29.933721
312809  1.970998    0.000000   0.000000  29.907967
312810  2.136311    0.000000   0.000000  30.511032

[312811 rows x 4 columns]

In [25]:
#Merge the basis matrix with the original timeseries
#results = pd.merge(data_full, results,left_index=True,right_index=True,how='outer')

In [26]:
#results

In [27]:
comp.to_csv('4_factor_MOD-00399/comp.csv')

In [28]:
res.to_csv('4_factor_MOD-00399/res.csv')

In [29]:
results.to_csv('4_factor_MOD-00399/results.csv')